@charset "UTF-8";
/* 2. 헤더 상단 (로고, 검색창, 로그인) */
#header_top {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #eee;
}
#header_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#right_group {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* 겉을 감싸는 회색 검색창 */
#search_box {
  display: flex;
  align-items: center;
  background-color: #f2f4f5;
  border-radius: 4px;
  padding: 8px 12px;
  width: 220px;
}

/* 돋보기 아이콘 */
#search_box svg {
  color: #808991;
  margin-right: 8px;
}

/* 진짜 입력창 투명 */
#search_box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
}
/*  헤더 하단 메뉴 (웹툰 ~ 캐시충전) */
#header_main {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #eee;
}
#header_main .container {
  height: 100%;
}

#category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#category_right {
  display: flex;
  gap: 20px;
  align-items: center;
}
#full_category a {
  display: flex;
  align-items: center;
  gap: 8px;
}
#full_category svg {
  color: #808991;
}

ul li a.active {
  color: #6a58efd7;
}
