@charset "UTF-8";
/* 2. 헤더 상단 (로고, 검색창, 로그인) */
#header_top {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #eee;
}
#header_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#right_group {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 3. 헤더 하단 메뉴 (웹툰 ~ 캐시충전) */
#header_main {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #eee;
}
#header_main .container {
  height: 100%;
}

#category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#category_right {
  display: flex;
  gap: 20px;
  align-items: center;
}
