@charset "UTF-8";

/* 모든 슬라이더 공통 기준점 (화살표 위치 잡기용)  */
.common-slider-section .container {
  position: relative;
}

/* 더보기 공통 */
#event-container,
#best-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more {
  font-size: 12px;
  color: #3d3d3d;
}

/* 로고 */
.ridi-logo {
  width: 49px;
  height: 18px;
  display: block;
}

/* 추천/장르 메뉴 */
#book_category {
  height: 50px;
  display: flex;
  align-items: center;
}
#book_category ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

#book_category nav ul li a.active {
  color: #6a58efd7;
  border: 2px solid #6a58efd7;
  border-radius: 20px;
  padding: 4px 10px;
  display: inline-block;
}

#main_banner {
  width: 100%;
  height: 347px;
}

#main_banner .container {
  height: 100%;
}

/*  공통 swiper 속성 */
.swiper {
  width: calc(100% - 50px);
  margin: 0 auto;
  height: 100%;
}

/* 메인배너 슬라이더(.mySwiper). */
.mySwiper {
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#icon_nav {
  height: 142px;
  margin-bottom: 40px;
}

#icon_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.icon {
  width: 58px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.icon img {
  width: 100%;
  height: 100%;
}
/* 아이콘 텍스트 */
.icon-text {
  font-weight: bold;
  font-size: 11px;
}
/* ---------------------------------------
   메인베너
---------------------------------------- */
.main-banner-card {
  display: block;
  width: 304px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

/* --- 이미지 영역 (배경으로 깔기) --- */
.banner-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 304px;
  height: 100%;
  z-index: 1;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* --- 하단 텍스트 영역 --- */
.banner-text {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: #fff;
}

/* 텍스트 디테일 */
.banner-text .subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.banner-text .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.banner-text .desc {
  font-size: 13px;
  opacity: 0.8;
}

/* ---------------------------------------------------
   지금 많이 읽고 있는 작품 (Now Ranking) // 베스트
----------------------------------------------------- */
#discover-banner {
  margin-top: 50px;
}
#best-section {
  margin-top: 60px;
}
.nowrankingSwiper,
.bestSwiper {
  height: 380px;
  margin: 16px auto;
}

.nowrankingSwiper .book-item,
.bestSwiper .book-item {
  height: calc((100% - 60px) / 3);
  display: flex;
  align-items: stretch;
  background: transparent;
}

/* 랭킹 카드 내용물 전체를 감싸는 틀 */
.ranking-card {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 순위 숫자 */
.ranking-card .rank-num {
  font-size: 1.2rem;
  width: 20px;
  text-align: center;
}

/* 책 표지 이미지  */
.ranking-card .ranking-thumb {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #eee;
}

/* 책 정보 (제목, 저자) 묶음 */
.ranking-card .book-info {
  display: flex;
  flex-direction: column;
  gap: 9px;
  flex: 1;
  min-width: 0;
}

/* 책 제목 & 저자 공통 (말줄임표 처리) */
.ranking-card .title,
.ranking-card .author {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 책 제목 개별 폰트 */
.ranking-card .title {
  font-size: 14px;
  font-weight: bold;
}

/* 책 저자 개별 폰트 */
.ranking-card .author {
  font-size: 12px;
  color: #666;
}
.rating-area {
  display: flex;
  gap: 5px;
}
.rating {
  font-size: 10px;
}

/* -------------------------------
   오늘, 리디의 발견 (Discovery)
----------------------------------- */
.event-section {
  margin-top: 60px;
}

.discoverSwiper {
  margin: 16px auto 0;
  height: auto;
}

.discover-item {
  display: flex;
  flex-direction: column;
  gap: 1px;
  cursor: pointer;
}

.thumb-wrapper {
  position: relative;
  width: 100%;
}

.thumb-wrapper .discover-thumb {
  width: 100%;
  aspect-ratio: 1 / 1.45;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #eee;
}

.discover-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.discover-info .promo-text {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  text-align: left;
}

/* -------------------------------
   이벤트
----------------------------------- */

#event-banner {
  margin-top: 15px;
}
/* ul  */
.event-list {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

/*li */
.event-item {
  flex: 1; /* 3개가 너비 배분 */
  height: 76px;
  border-radius: 4px; /* 모서리 둥글게 */
  overflow: hidden;
  position: relative;
}

/* <a> 태그 */
.event-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

/* 이벤트 카드 내부 */
.event-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#event-card1 {
  background-color: rgb(62, 12, 130);
}
#event-card2 {
  background-color: rgb(31, 31, 31);
}
#event-card3 {
  background-color: rgb(65, 84, 138);
}
/*이미지  */
.img-area {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.event-img {
  object-fit: contain;
}

/* 글자 영역*/
.text-area {
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

/* --- 실제 글자 스타일 --- */
.event-title {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
}

.rating-people {
  font-size: 11px;
  color: #999;
  margin-left: 3px;
}

/* -----------------------
우주라이크 소설
--------------------------*/
#novel-section {
  margin-top: 60px;
  padding-bottom: 120px;
  border-bottom: 2px solid #eee;
}

/* 슬라이더 영역 너비 */
.novelSwiper {
  margin-top: 16px;
}
.novel-prev {
  top: 55% !important;
}

/* 이미지 설정 */
.novelSwiper .swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* 껍데기 슬라이드 가운데 정렬 담당 */
.novelSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/*  <a> 링크태그 */
.novel-card-wrapper {
  display: block;
  width: 100%;
  height: 364px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

/* 1. 바닥 이미지 */
.novel-card-wrapper .base-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  object-fit: contain;
  z-index: 1;
}
/* 소설 그라데이션 주기 */
.novel-card-wrapper .gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
}
#gradation1 {
  background: linear-gradient(to top, rgba(179, 138, 84, 1), transparent),
    linear-gradient(to top, rgba(179, 138, 84, 1), transparent);
}
#gradation2 {
  background: linear-gradient(to top, rgba(38, 12, 203, 1), transparent),
    linear-gradient(to top, rgba(38, 12, 203, 1), transparent);
}
#gradation3 {
  background: linear-gradient(to top, rgba(62, 46, 114, 1), transparent),
    linear-gradient(to top, rgba(62, 46, 114, 1), transparent);
}
#gradation4 {
  background: linear-gradient(to top, rgba(99, 15, 55, 1), transparent),
    linear-gradient(to top, rgba(99, 15, 55, 1), transparent);
}
#gradation5 {
  background: linear-gradient(to top, rgba(27, 52, 66, 1), transparent),
    linear-gradient(to top, rgba(27, 52, 66, 1), transparent);
}

/* 3. 위에 올라가는 이미지 */
.novel-card-wrapper .top-img {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: auto;
  height: auto;
  z-index: 3;
  display: block;
}
