/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #333;
  }
}
.container {
  width: 966px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
body {
  height: 4096px;
}

/* Swiper 기본 꺾쇠 지우기 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  display: none !important;
}

/* 폰트 어썸 아이콘 설정 */
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 20px;
  color: #555;
}

/* ★ 모든 화살표 공통 디자인 & 위치 설정 ★ */
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  transform: translateY(-50%);
}
.swiper-button-next {
  right: -25px; /* 원하시는 만큼 조절하세요! (숫자가 커질수록 밖으로 나감) */
}
.swiper-button-prev {
  left: -25px; /* 원하시는 만큼 조절하세요! */
}
.swiper-button-disabled {
  display: none !important;
}
