/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.swiper-button-next {
  right: -25px; /* 원하시는 만큼 조절하세요! (숫자가 커질수록 밖으로 나감) */
}
.swiper-button-prev {
  left: -25px; /* 원하시는 만큼 조절하세요! */
}
.swiper-button-disabled {
  display: none !important;
}
